---
extends: default

yaml-files:
  - '*.yaml'
  - '*.yml'
  - .yamllint
  - .ansible-lint

rules:
  line-length:
    max: 240
    level: warning
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

ignore: |
  .github/workflows/stale.yml
