---
- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Install Docker.
  package:
    name: "{{ docker_package }}"
    state: "{{ docker_package_state }}"
  notify: restart docker

- name: Ensure Docker is started and enabled at boot.
  service:
    name: docker
    state: "{{ docker_service_state }}"
    enabled: "{{ docker_service_enabled }}"

- name: Ensure handlers are notified now to avoid firewall conflicts.
  meta: flush_handlers

- include_tasks: docker-compose.yml
  when: docker_install_compose | bool

- include_tasks: docker-users.yml
  when: docker_users | length > 0

- name: Configure docker
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    mode: 0666
  notify: restart docker
  when: not docker_default_config

- name: Configure containerd
  template:
    src: config.toml.j2
    dest: /etc/containerd/config.toml
    mode: 0666
  notify: restart docker
  when: not docker_default_config
