# {{ ansible_managed }}

[Service]
{% for proxy in ['http_proxy', 'https_proxy'] -%}
{% if proxy in ansible_env %}
{{- 'Environment= "%s=%s"\n' | format(proxy | upper, ansible_env[proxy]) -}}
{% elif proxy | upper in ansible_env %}
{{- 'Environment= "%s=%s"\n' | format(proxy | upper, ansible_env[proxy | upper]) -}}
{%- endif -%}
{%- endfor -%}
